.content {
    &-wrapper {
        background-color: #ffffff;
        // background-color: rgba(255, 0, 0, 0.068);
        width: calc(100% - 360px);
        transform: none;
        height: 100vh;
        transform: none;
        overflow: visible;
        z-index: 0;
        @media (max-width: 1399px) {
            width: calc(100% - 330px);
        }
        @media (max-width: 1199px) {
            width: calc(100% - 260px);
        }
        @media (max-width: 991px) {
            height: auto;
            width: 100%;
            min-height: auto;
            padding-top: 20px;    
            padding-bottom: 40px;
            margin-top: 120px;
        }
        @media (max-width: 767px) {
            margin-top: 100px;
        }
        @media (max-width: 479px) {
            margin-top: 85px;
        }
        .sidebar-share {
            &-wrap {
                width: 100%;
                transform: none;
                display: none;
                @media (max-width: 991px) {
                    display: block;
                }
            }
            &-item {
                margin: 0 20px;
            }
            &-title {
                font-family: $pnecl;
            }
        }
        .share-item-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.main-page-content {
            .content-header {
                transform: none;
                margin-left: 90px;
                padding-right: 0;
                @media (max-width: 1199px) {
                    margin-left: 70px;
                }
                @media (max-width: 991px) {
                    margin-left: 0;
                }
            }
            .slider-section {
                transform: skewX(-12deg);
                margin-left: -15px;
                @media (max-width: 1199px) {
                    transform: skewX(-8deg);
                    margin-left: 0;
                }
                @media (max-width: 991px) {
                    transform: none;
                    margin: 30px auto 0 auto;
                    width: calc(100% - 100px);
                }
            }
        }
        &.content-person {
            @media (max-width: 991px) {
                padding-top: 130px;
            }
            @media (max-width: 767px) {
                padding-top: 120px;
            }
            .slider-section {
                @media (max-width: 991px) {
                    width: calc(100% - 60px);
                }
                .slider-img {
                    @media (max-width: 991px) {
                        height: 250px;
                    }
                }
            }
            .content-header {
                // border: 1px solid red;
                margin-left: 40px;
                padding-right: 120px;
                max-width: 1150px;
                @media (max-width: 1399px) {
                    margin-left: 0;
                }
                @media (max-width: 991px) {
                    transform: none;
                    padding-right: 0%;
                    text-align: center;
                    max-width: 100%;
                }
                &-wrapper {
                    width: 100%;
                    background-color: #fff;
                    position: relative;
                    z-index: 2;
                    transform: skewX(-12deg);
                    margin-left: 40px;
                    @media (max-width: 1399px) {
                        margin-left: 60px;
                    }
                    @media (max-width: 1199px) {
                        margin-left: 40px;
                        transform: skewX(-8deg);
                    }
                    @media (max-width: 991px) {
                        padding: 15px 30px 0 30px;
                        // border: 1px solid red;
                        position: fixed;
                        left: 0;
                        width: 100%;
                        top: 120px;
                        transform: none;
                        margin-left: 0;
                    }
                    @media (max-width: 767px) {
                        top: 100px;
                    }
                    @media (max-width: 479px) {
                        top: 85px;
                        padding: 10px 20px 0 20px;
                    }
                }
            }
            .header-info {
                margin: 70px 0 0 40px;
                @media (max-width: 1399px) {
                    margin: 60px 0 0 50px;
                }
                @media (max-width: 991px) {
                    margin: 10px auto 25px auto;
                }
            }
        }
    }
    &-header {
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1300px;
        z-index: 1;
        position: relative;
        transform: skewX(12deg);
        background: #fff;
        @media (max-width: 1199px) {
            transform: skewX(8deg);
            padding-right: 0;
        }
        @media (max-width: 991px) {
            transform: none;
            padding: 0 20px;
        }
        @media (max-width: 479px) {
            transform: none;
            padding: 0;
            text-align: center;
        }
        .header-logo {
            flex-shrink: 0;
            margin-left: 75px;
            @media (max-width: 1399px) {
                height: 150px;
            }
            @media (max-width: 1199px) {
                height: 140px;
                margin-left: 30px;
            }
            @media (max-width: 991px) {
                display: none;
            }
            img {
                height: 100%;
            }
            &-link {
                display: block;
                height: 100%;
            }
        }
        .header-info {
            width: 100%;
            max-width: 1000px;
            margin: 55px 0 0 23px;
            transform: skewX(-12deg);
            @media (max-width: 1199px) {
                transform: skewX(-8deg);
                margin: 30px 0 0 20px;
            }
            @media (max-width: 991px) {
                transform: none;
                margin: 30px 20px 0 20px;
            }
        }
        .header-close {
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translateY(-50%);
            @media (max-width: 991px) {
                top: auto;
                right: auto;
                transform: none;
                position: relative;
                margin-top: 10px;
                margin-left: 15px;
            }
            .icon {
                color: #ababab;
                font-size: 5rem;
                transition: color .3s ease;
                @media (max-width: 1399px) {
                    font-size: 4.5rem;
                }
                @media (max-width: 1199px) {
                    font-size: 4rem;
                }
                @media (max-width: 991px) {
                    font-size: 3.5rem;
                }
                @media (max-width: 479px) {
                    font-size: 3rem;
                }
                &:hover {
                    @media (min-width: 768px) {
                        color: #bdbdbd;
                    }
                }
            }
        }
        .header {
            &-name, &-position {
                display: block;
                width: 100%;
                color: #f6a400;
                font-size: 2.4rem;
                line-height: 2.4rem;
                @media (max-width: 1399px) {
                    font-size: 2.2rem;
                    line-height: 2.2rem;
                }
                @media (max-width: 1199px) {
                    font-size: 2.1rem;
                    line-height: 2.1rem;
                }
                @media (max-width: 991px) {
                    font-size: 1.9rem;
                    line-height: 1.9rem;
                }
            }
            &-name {
                font-family: $pnecb;
            }
            &-position {
                font-family: $pnecr;
            }
        }
    }
    &-inner {
        width: 100%;
        margin-top: 20px;
        @media (max-width: 1399px) {
            margin-top: 15px;
            padding-left: 20px;
        }
        @media (max-width: 991px) {
            transform: none;
            margin-top: 0;
            padding: 0 20px;
        }
        @media (max-width: 479px) {
            padding: 0;
        }
        .section {
            transform: skewX(-12deg);
            margin-left: -40px;
            @media (max-width: 1199px) {
                transform: skewX(-8deg);
                margin-left: -10px;
            }
            @media (max-width: 991px) {
                transform: none;
            }
        }
    }
    &-photoes {
        // border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        transform: none;
        margin-left: 20px;
        margin-right: 15px;
        max-width: 755px;
        @media (max-width: 1399px) {
            margin-left: 0;
            max-width: 680px;
        }
        @media (max-width: 1199px) {
            transform: skewX(8deg);
            margin-right: 8px;
            margin-left: 0;
            max-width: 570px;
        }
        @media (max-width: 991px) {
            transform: none;
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
            justify-content: center;
        }
        &-item {
            // border: 1px solid blue;
            margin-bottom: 25px;
            overflow: hidden;
            margin-right: 1%;
            width: auto;
            max-width: 50%;
            display: inline-flex;
            justify-content: center;
            transform: skewX(12deg);
            clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1399px) {
                margin-bottom: 20px;
            }
            @media (max-width: 1199px) {
                transform: skewX(4deg);
            }
            @media (max-width: 991px) {
                transform: none;
                clip-path: none;
            }
            @media (max-width: 767px) {
                margin-right: 5px;
                margin-left: 5px;
                width: auto;
                max-width: 100%;
                margin-bottom: 20px;
            }
            @media (max-width: 479px) {
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 15px;
                width: 100%;
            }
            img {
                clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
                // transform: skewX(12deg);
                max-height: 200px;
                max-width: 100%;
                @media (max-width: 1399px) {
                    max-height: 145px;
                }
                @media (max-width: 1199px) {
                    max-height: 135px;
                }
                @media (max-width: 991px) {
                    transform: none;
                    max-height: 150px;
                    clip-path: none;
                }
                @media (max-width: 479px) {
                    max-height: none;
                    width: 100%;
                }
            }
        }
    }
    &-quotes {
        color: #000000;
        font-family: $pnecl;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        position: relative;
        @media (max-width: 1399px) {
            font-size: 2.3rem;
            line-height: 2.3rem;
        }
        @media (max-width: 991px) {
            font-size: 2.1rem;
            line-height: 2.1rem;
            transform: skewX(-8deg);
        }
        @media (max-width: 767px) {
            font-size: 1.9rem;
            line-height: 1.9rem;
        }
        @media (max-width: 479px) {
            font-size: 1.8rem;
        }
        &:before, &:after {
            font-size: 120px;
            font-weight: 400;
            line-height: 28px;
            display: inline-block;
            font-family: $pnecbi;
            font-weight: bold;
            color: #f6a400;
            transform: skewX(12deg);
            position: absolute;
            @media (max-width: 1399px) {
                font-size: 95px;
            }
            @media (max-width: 1199px) {
                font-size: 80px;
                transform: skewX(8deg);
            }
            @media (max-width: 991px) {
                transform: skewX(5deg);
            }
            @media (max-width: 767px) {
                font-size: 65px;
            }
        }
        &:before {
            content: '«';
            top: -24px;
            left: -58px;  
            @media (max-width: 991px) {
                top: -20px;
                left: -45px;  
            }      
            @media (max-width: 767px) {
                top: -18px;
                left: -33px;  
            }
            @media (max-width: 479px) {
                top: -18px;
                left: -32px;  
            }
        }
        &:after {
            content: '»';
            right: -46px;
            bottom: -12px;
            @media (max-width: 991px) {
                right: -27px;
            }
            @media (max-width: 189px) {
                right: -20px;
            }
            @media (max-width: 479px) {
                right: -17px;
            }
        }
        &-wrap {
            margin-bottom: 25px;
            background-color: #e5ddcf;
            padding: 39px 84px 39px 110px;
            max-width: 775px;
            margin-left: 0;
            @media (max-width: 1399px) {
                padding: 39px 84px 39px 100px;
                max-width: 700px;
                margin-left: -40px;
            }
            @media (max-width: 1199px) {
                padding: 39px 74px 39px 95px;
                max-width: 590px;
                margin-left: -40px;
            }
            @media (max-width: 991px) {
                margin: 30px auto;
                padding: 30px 60px;
                max-width: 620px;
            }
            @media (max-width: 767px) {
                max-width: 530px;
                margin: 25px auto 20px auto;
                padding: 25px 50px;
            }
            @media (max-width: 479px) {
                max-width: 100%;
                margin: 20px auto 15px auto;
                padding: 20px 33px;
            }
        }
    }
}

.content-text-info {
    font-family: $pnecr;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 25px;
    @media (max-width: 991px) {
        font-family: $pnecri;
    }
    @media (max-width: 479px) {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    &-wrap {
        margin-left: 60px;
        max-width: 1000px;
        margin-right: 20px;
        @media (max-width: 1399px) {
            margin-left: 40px;
            max-width: 90%;
        }
        @media (max-width: 1199px) {
            max-width: 85%;
            margin-left: 12px;
        }
        @media (max-width: 991px) {
            margin: 0 auto 30px auto;
        }
        @media (max-width: 479px) {
            padding: 0 20px;
            max-width: 100%;
        }
    }
}

.fp-section.fp-table, .fp-tableCell {
    @media (max-width: 991px) {
        height: auto !important;
    }
}






// OLD



// .content {
//     &-wrapper {
//         background-color: #ffffff;
//         // background-color: rgba(255, 0, 0, 0.068);
//         width: calc(100% - 360px);
//         transform: none;
//         height: 100vh;
//         transform: none;
//         overflow: hidden;
//         z-index: 0;
//         @media (max-width: 1399px) {
//             width: calc(100% - 330px);
//         }
//         @media (max-width: 1199px) {
//             width: calc(100% - 260px);
//         }
//         @media (max-width: 991px) {
//             height: auto;
//             width: 100%;
//             min-height: auto;
//             padding-top: 20px;    
//             padding-bottom: 40px;
//             margin-top: 120px;
//         }
//         @media (max-width: 767px) {
//             margin-top: 100px;
//         }
//         @media (max-width: 479px) {
//             margin-top: 85px;
//         }
//         .sidebar-share {
//             &-wrap {
//                 width: 100%;
//                 transform: none;
//                 display: none;
//                 @media (max-width: 991px) {
//                     display: block;
//                 }
//             }
//             &-item {
//                 margin: 0 20px;
//             }
//             &-title {
//                 font-family: $pnecl;
//             }
//         }
//         .share-item-wrapper {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }
//         &.content-person {
//             @media (max-width: 991px) {
//                 padding-top: 130px;
//             }
//             @media (max-width: 767px) {
//                 padding-top: 120px;
//             }
//             .slider-section {
//                 @media (max-width: 991px) {
//                     width: calc(100% - 60px);
//                 }
//                 .slider-img {
//                     @media (max-width: 991px) {
//                         height: 250px;
//                     }
//                 }
//             }
//             .content-header {
//                 // border: 1px solid red;
//                 margin-left: 40px;
//                 padding-right: 120px;
//                 max-width: 1150px;
//                 @media (max-width: 1399px) {
//                     margin-left: 0;
//                 }
//                 @media (max-width: 991px) {
//                     transform: none;
//                     padding-right: 0%;
//                     text-align: center;
//                     max-width: 100%;
//                 }
//                 &-wrapper {
//                     width: 100%;
//                     background-color: #fff;
//                     position: relative;
//                     z-index: 2;
//                     @media (max-width: 991px) {
//                         padding: 15px 30px 0 30px;
//                         // border: 1px solid red;
//                         position: fixed;
//                         left: 0;
//                         width: 100%;
//                         top: 120px;
//                     }
//                     @media (max-width: 767px) {
//                         top: 100px;
//                     }
//                     @media (max-width: 479px) {
//                         top: 85px;
//                         padding: 10px 20px 0 20px;
//                     }
//                 }
//             }
//             .header-info {
//                 margin: 70px 0 0 40px;
//                 @media (max-width: 1399px) {
//                     margin: 60px 0 0 50px;
//                 }
//                 @media (max-width: 991px) {
//                     margin: 10px auto 25px auto;
//                 }
//             }
//         }
//     }
//     &-header {
//         // border: 1px solid blue;
//         display: flex;
//         justify-content: space-between;
//         align-items: flex-start;
//         max-width: 1300px;
//         z-index: 1;
//         position: relative;
//         transform: skewX(12deg);
//         background: #fff;
//         @media (max-width: 1199px) {
//             transform: skewX(8deg);
//             padding-right: 0;
//         }
//         @media (max-width: 991px) {
//             transform: none;
//             padding: 0 20px;
//         }
//         @media (max-width: 479px) {
//             transform: none;
//             padding: 0;
//             text-align: center;
//         }
//         .header-logo {
//             flex-shrink: 0;
//             margin-left: 75px;
//             @media (max-width: 1399px) {
//                 height: 150px;
//             }
//             @media (max-width: 1199px) {
//                 height: 140px;
//                 margin-left: 30px;
//             }
//             @media (max-width: 991px) {
//                 display: none;
//             }
//             img {
//                 height: 100%;
//             }
//             &-link {
//                 display: block;
//                 height: 100%;
//             }
//         }
//         .header-info {
//             width: 100%;
//             max-width: 1000px;
//             margin: 55px 0 0 23px;
//             transform: skewX(-12deg);
//             @media (max-width: 1199px) {
//                 transform: skewX(-8deg);
//                 margin: 30px 0 0 20px;
//             }
//             @media (max-width: 991px) {
//                 transform: none;
//                 margin: 30px 20px 0 20px;
//             }
//         }
//         .header-close {
//             position: absolute;
//             top: 50%;
//             right: 40px;
//             transform: translateY(-50%);
//             @media (max-width: 991px) {
//                 top: auto;
//                 right: auto;
//                 transform: none;
//                 position: relative;
//                 margin-top: 10px;
//                 margin-left: 15px;
//             }
//             .icon {
//                 color: #ababab;
//                 font-size: 5rem;
//                 transition: color .3s ease;
//                 @media (max-width: 1399px) {
//                     font-size: 4.5rem;
//                 }
//                 @media (max-width: 1199px) {
//                     font-size: 4rem;
//                 }
//                 @media (max-width: 991px) {
//                     font-size: 3.5rem;
//                 }
//                 @media (max-width: 479px) {
//                     font-size: 3rem;
//                 }
//                 &:hover {
//                     @media (min-width: 768px) {
//                         color: #bdbdbd;
//                     }
//                 }
//             }
//         }
//         .header {
//             &-name, &-position {
//                 display: block;
//                 width: 100%;
//                 color: #f6a400;
//                 font-size: 2.4rem;
//                 line-height: 2.4rem;
//                 @media (max-width: 1399px) {
//                     font-size: 2.2rem;
//                     line-height: 2.2rem;
//                 }
//                 @media (max-width: 1199px) {
//                     font-size: 2.1rem;
//                     line-height: 2.1rem;
//                 }
//                 @media (max-width: 991px) {
//                     font-size: 1.9rem;
//                     line-height: 1.9rem;
//                 }
//             }
//             &-name {
//                 font-family: $pnecb;
//             }
//             &-position {
//                 font-family: $pnecr;
//             }
//         }
//     }
//     &-inner {
//         width: 100%;
//         margin-top: 20px;
//         @media (max-width: 1399px) {
//             margin-top: 15px;
//             padding-left: 20px;
//         }
//         @media (max-width: 991px) {
//             transform: none;
//             margin-top: 0;
//             padding: 0 20px;
//         }
//         @media (max-width: 479px) {
//             padding: 0;
//         }
//     }
//     &-photoes {
//         // border: 1px solid red;
//         display: flex;
//         flex-wrap: wrap;
//         transform: none;
//         margin-left: 20px;
//         margin-right: 15px;
//         max-width: 755px;
//         @media (max-width: 1399px) {
//             margin-left: 0;
//             max-width: 680px;
//         }
//         @media (max-width: 1199px) {
//             transform: skewX(8deg);
//             margin-right: 8px;
//             margin-left: 0;
//             max-width: 570px;
//         }
//         @media (max-width: 991px) {
//             transform: none;
//             margin-left: 0;
//             margin-right: 0;
//             max-width: 100%;
//             justify-content: center;
//         }
//         &-item {
//             // border: 1px solid blue;
//             margin-bottom: 25px;
//             overflow: hidden;
//             margin-right: 1%;
//             width: auto;
//             max-width: 50%;
//             display: inline-flex;
//             justify-content: center;
//             transform: skewX(12deg);
//             clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
//             display: inline-flex;
//             align-items: center;
//             justify-content: center;
//             @media (max-width: 1399px) {
//                 margin-bottom: 20px;
//             }
//             @media (max-width: 1199px) {
//                 transform: skewX(4deg);
//             }
//             @media (max-width: 991px) {
//                 transform: none;
//                 clip-path: none;
//             }
//             @media (max-width: 767px) {
//                 margin-right: 5px;
//                 margin-left: 5px;
//                 width: auto;
//                 max-width: 100%;
//                 margin-bottom: 20px;
//             }
//             @media (max-width: 479px) {
//                 margin-right: 0;
//                 margin-left: 0;
//                 margin-bottom: 15px;
//                 width: 100%;
//             }
//             img {
//                 clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
//                 // transform: skewX(12deg);
//                 max-height: 200px;
//                 max-width: 100%;
//                 @media (max-width: 1399px) {
//                     max-height: 145px;
//                 }
//                 @media (max-width: 1199px) {
//                     max-height: 135px;
//                 }
//                 @media (max-width: 991px) {
//                     transform: none;
//                     max-height: 150px;
//                     clip-path: none;
//                 }
//                 @media (max-width: 479px) {
//                     max-height: none;
//                     width: 100%;
//                 }
//             }
//         }
//     }
//     &-quotes {
//         color: #000000;
//         font-family: $pnecl;
//         font-size: 2.5rem;
//         line-height: 2.5rem;
//         font-weight: 400;
//         position: relative;
//         @media (max-width: 1399px) {
//             font-size: 2.3rem;
//             line-height: 2.3rem;
//         }
//         @media (max-width: 991px) {
//             font-size: 2.1rem;
//             line-height: 2.1rem;
//             transform: skewX(-8deg);
//         }
//         @media (max-width: 767px) {
//             font-size: 1.9rem;
//             line-height: 1.9rem;
//         }
//         @media (max-width: 479px) {
//             font-size: 1.8rem;
//         }
//         &:before, &:after {
//             font-size: 120px;
//             font-weight: 400;
//             line-height: 28px;
//             display: inline-block;
//             font-family: $pnecbi;
//             font-weight: bold;
//             color: #f6a400;
//             transform: skewX(12deg);
//             position: absolute;
//             @media (max-width: 1399px) {
//                 font-size: 95px;
//             }
//             @media (max-width: 1199px) {
//                 font-size: 80px;
//                 transform: skewX(8deg);
//             }
//             @media (max-width: 991px) {
//                 transform: skewX(5deg);
//             }
//             @media (max-width: 767px) {
//                 font-size: 65px;
//             }
//         }
//         &:before {
//             content: '«';
//             top: -24px;
//             left: -58px;  
//             @media (max-width: 991px) {
//                 top: -20px;
//                 left: -45px;  
//             }      
//             @media (max-width: 767px) {
//                 top: -18px;
//                 left: -33px;  
//             }
//             @media (max-width: 479px) {
//                 top: -18px;
//                 left: -32px;  
//             }
//         }
//         &:after {
//             content: '»';
//             right: -46px;
//             bottom: -12px;
//             @media (max-width: 991px) {
//                 right: -27px;
//             }
//             @media (max-width: 189px) {
//                 right: -20px;
//             }
//             @media (max-width: 479px) {
//                 right: -17px;
//             }
//         }
//         &-wrap {
//             margin-bottom: 25px;
//             background-color: #e5ddcf;
//             padding: 39px 84px 39px 110px;
//             max-width: 775px;
//             margin-left: 0;
//             @media (max-width: 1399px) {
//                 padding: 39px 84px 39px 100px;
//                 max-width: 700px;
//                 margin-left: -40px;
//             }
//             @media (max-width: 1199px) {
//                 padding: 39px 74px 39px 95px;
//                 max-width: 590px;
//                 margin-left: -40px;
//             }
//             @media (max-width: 991px) {
//                 margin: 30px auto;
//                 padding: 30px 60px;
//                 max-width: 620px;
//             }
//             @media (max-width: 767px) {
//                 max-width: 530px;
//                 margin: 25px auto 20px auto;
//                 padding: 25px 50px;
//             }
//             @media (max-width: 479px) {
//                 max-width: 100%;
//                 margin: 20px auto 15px auto;
//                 padding: 20px 33px;
//             }
//         }
//     }
// }

// .content-text-info {
//     font-family: $pnecr;
//     color: #000000;
//     font-size: 1.8rem;
//     font-weight: 400;
//     line-height: 1.8rem;
//     margin-bottom: 25px;
//     @media (max-width: 991px) {
//         font-family: $pnecri;
//     }
//     @media (max-width: 479px) {
//         font-size: 1.6rem;
//         margin-bottom: 20px;
//     }
//     &-wrap {
//         margin-left: 60px;
//         max-width: 1000px;
//         margin-right: 20px;
//         @media (max-width: 1399px) {
//             margin-left: 40px;
//             max-width: 90%;
//         }
//         @media (max-width: 1199px) {
//             max-width: 85%;
//         }
//         @media (max-width: 991px) {
//             margin: 0 auto 30px auto;
//         }
//         @media (max-width: 479px) {
//             padding: 0 20px;
//             max-width: 100%;
//         }
//     }
// }

// .fp-section.fp-table, .fp-tableCell {
//     @media (max-width: 991px) {
//         height: auto !important;
//     }
// }