.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}


.site {
	&-wrapper {
		// border: 1px solid blue;
		// transform: skewX(-12deg);
		display: flex;
		width: 100%;
		margin-left: -100px;
		@media (max-width: 1399px) {
			margin-left: -90px;
		}
		@media (max-width: 1199px) {
			// transform: skewX(-8deg);
			margin-left: -60px;
		}
		@media (max-width: 991px) {
			flex-wrap: wrap;
			transform: none;
			margin-left: 0;
		}
	}
}

// old

// .site {
// 	&-wrapper {
// 		// border: 1px solid blue;
// 		transform: skewX(-12deg);
// 		display: flex;
// 		width: 100%;
// 		margin-left: -100px;
// 		@media (max-width: 1399px) {
// 			margin-left: -90px;
// 		}
// 		@media (max-width: 1199px) {
// 			transform: skewX(-8deg);
// 			margin-left: -60px;
// 		}
// 		@media (max-width: 991px) {
// 			flex-wrap: wrap;
// 			transform: none;
// 			margin-left: 0;
// 		}
// 	}
// }

.fp-enabled {
	body {
		// background-color: #f4f4f4;
		background-color: #fff;
		@media (max-width: 991px) {
			background-color: #ffffff;
		}
	}
	.slider-section {
		width: 100%;
	}
}

* {
	backface-visibility: visible;
    -webkit-font-smoothing: subpixel-antialiased;
}