.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &-vk {
      width: 1.769911504424779em;
    }
    &-ok {
      width: 0.6em;
    }
    &-fb {
      width: 0.54em;
    }
    &-arr-left {
      width: 0.55em;
    }
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  