.slider {
    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: center;
            // margin-left: -30px;
        }
    }
    &-modal-trigger {
        margin-right: 40px;
        @media (max-width: 991px) {
            margin-right: 0;
            width: 100%;
            margin-top: 25px;
            text-align: center;
        }
        .modal-trigger-item {
            color: #f6a400;
            font-size: 1.8rem;
            line-height: 1.8rem;
            outline: none;
            cursor: pointer;
            font-family: $pnecli;
            text-decoration: underline;
            transform: skewX(12deg);
            opacity: 1;
            transition: opacity .3s ease;
            &:focus {
                outline: none;
            }
            &:hover {
                @media (min-width: 768px) {
                    opacity: 0.85;
                }
            }
        }
    }
    &-section {
        // border: 1px solid red;
        overflow: hidden;
        margin-top: 15px;
        transform: none;
        width: calc(100% - 18px);
        @media (max-width: 1399px) {
            margin-top: 20px;
        }
        @media (max-width: 1199px) {
            margin-top: 30px;
        }
        @media (max-width: 991px) {
            max-width: 100%;
            margin: 30px 30px 0 30px;
        }
    }
    &-wrapper {
        // border: 1px solid blue;
        width: 100%;
        font-size: 0;
        max-width: 1000px;
        height: 430px;
        position: relative;
        overflow: hidden;
        @media (max-width: 991px) {
            transform: skewX(-8deg);
        }
        &.active {
            overflow: visible;
            height: auto;
        }
        .slick-dots {
            display: flex;
            position: absolute;
            bottom: -59px;
            left: 105px;
            margin-bottom: 0;
            transform: skewX(12deg);
            @media (max-width: 1399px) {
                bottom: -51px;
                left: 100px;
            }
            @media (max-width: 1199px) {
                transform: skewX(8deg);
            }
            @media (max-width: 991px) {
                transform: none;
            }
            li {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #605D57;
                margin: 0 8px;
                transform: none;
                cursor: pointer;
                transition: transform .3s ease, background-color .3s ease;
                &.slick-active {
                    transform: scale(2.1);
                    background-color: #f6a400;
                }
            }
        }
    }
    &-item {
        // border: 1px solid red;
        width: 310px;
        height: auto;
        display: inline-block;
        margin-right: 0;
        background-size: cover;
        position: relative;
        outline: none;
        overflow: hidden;
        vertical-align: top;
        @media (max-width: 1399px) {
            width: 225px;
        }
        @media (max-width: 1199px) {
            width: 205px;
        }
        @media (max-width: 991px) {
            transform: skewX(8deg);
        }
        &:hover {
            @media (min-width: 768px) {
                .item-name, .item-position {
                    color:  #f6a400;
                }
            }
        }
        a {
            display: block;
            width: 100%;
            outline: none;
            height: 100%;
        }
    }
    &-img {
        width: 100%;
        height: 402px;
        // height: auto;
        transform: skewX(12deg);
        display: flex;
        align-items: flex-end;
        // border: 1px solid green;
        @media (max-width: 1399px) {
            height: 323px;
        }
        @media (max-width: 1199px) {
            transform: skewX(8deg);
            height: 285px;
        }
        @media (max-width: 991px) {
            transform: none;
            height: 280px;
        }
        @media (max-width: 767px) {
            height: 250px;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            height: 100%;
        }
    }
    &-descr {
        // border: 1px solid blue;
        margin-top: 12px;
        padding-left: 45px;
        @media (max-width: 1199px) {
            padding-left: 30px;
        }
        @media (max-width: 991px) {
            padding-left: 0;
        }
        .item {
            &-name, &-position {
                display: block;
                width: 100%;
                color: #000000;
                font-size: 2.4rem;
                line-height: 2.4rem;
                transition: color .3s ease;
                @media (max-width: 1399px) {
                    font-size: 2.2rem;
                    line-height: 2.2rem;
                }
                @media (max-width: 1199px) {
                    font-size: 2.1rem;
                    line-height: 2.1rem;
                }
                @media (max-width: 991px) {
                    font-size: 1.9rem;
                    line-height: 1.9rem;
                }
            }
            &-name {
                font-family: $pnecb;
            }
            &-position {
                font-family: $pnecr;
            }
        }
    }
    &-arr-wrapper {
        display: flex;
        margin: 37px 0 0 35px;
        width: 100px;
        transform: skewX(12deg);
        @media (max-width: 1399px) {
            margin: 30px 0 0 35px;
        }
        @media (max-width: 1199px) {
            transform: skewX(8deg);
        }
        @media (max-width: 991px) {
            margin: 30px 0 0 0;
            transform: none;
        }
    }
    &-prev, &-next {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6a400;
        opacity: 1;
        transition: background-color .3s ease, opacity .3s ease;
        cursor: pointer;
        @media (max-width: 1399px) {
            width: 37px;
            height: 37px;
        }
        &:not(.slick-disabled):hover {
            @media (min-width: 768px) {
                opacity: 0.85;
            }
        }
        &.slick-disabled {
            background-color: #ababab;
            cursor: not-allowed;
        }
        img {
            @media (max-width: 1399px) {
                height: 17px;
            }
        }
    }
    &-prev {
        margin-right: 10px;
    }
}