extends _includes/_extends/main

include _includes/components/c-modal/c-modal
include _includes/components/c-sidebar/c-sidebar
include _includes/components/c-content/c-content

block head
    +head({'title':'Героини Ростеха'})

block content
    .site-wrapper
        +c-sidebar({
            sidebar_class: 'person-sidebar',
            sidebar_slider: true
        })
        +c-content({
            main_content: false,
            person_content: true,
            person_large_content: false
        })

block beforeScripts
    +c-modal({modalid: 'modalWindow'})