.modal {
    // content
    &-content {
        width: 100%;
        height: 100%;
        max-width: 1400px;
        margin: 0 auto;
        border-radius: 0;
        background-color: transparent;
        border: none;
        justify-content: center;
        @media (max-width: 1399px) {
            max-width: 1210px;
        }
        @media (max-width: 1199px) {
            max-width: 920px;
        }
        @media (max-width: 991px) {
            max-width: 750px;
        }
    }
    &-dialog {
        max-width: 100%;
        padding: 0 30px;
        margin: 0 auto;
        height: 100%;
    }
    // overlay
    &-backdrop {
        background-color: #ffffff;
        &.show {
            opacity: 1;
        }
    }
}

.popup {
    &-wrapper {
        position: relative;
        display: flex;
    }
    &-left-side {
        width: 335px;
        position: relative;
        @media (max-width: 1399px) {
            width: 260px;
        }
        @media (max-width: 1199px) {
            width: 220px;
        }
        @media (max-width: 991px) {
            display: none;
        }
        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 250px;
            background-color: #868686;
            position: relative;
            margin-left: 11%;
            margin-top: 65px;
            transform: rotate(12deg);
        }
    }
    &-right-side {
        width: calc(100% - 335px);
        display: flex;
        @media (max-width: 1399px) {
            width: calc(100% - 260px);
        }
        @media (max-width: 1199px) {
            width: calc(100% - 220px);
        }
        @media (max-width: 991px) {
            width: 100%;
        }
    }
    &-image {
        flex-shrink: 0;
        position: absolute;
        right: 0;
        @media (max-width: 767px) {
            display: none;
        }
        img {
            @media (max-width: 1399px) {
                width: 390px;
            }
            @media (max-width: 1199px) {
                width: 310px;
                margin-top: 130px;
            }
        }
    }
    // Left side
    &-title {
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #1d1d1d;
        font-family: $pnecli;
        font-weight: 400;
        margin-left: 43px;
        margin-top: 51px;
        @media (max-width: 1199px) {
            font-size: 2.1rem;
            line-height: 2.1rem;
            margin-left: 0;
        }
        &::first-letter {
            margin-left: 4px;
        }
        b {
            font-weight: 700;
            font-family: $pnecbi;
        }
    }
    &-logo {
        flex-shrink: 0;
        margin-top: 115px;
        @media (max-width: 1199px) {
            margin-top: 100px;
        }
        img {
            @media (max-width: 1199px) {
                width: 165px;
            }
        }
    }
    // right side
    &-content {
        width: 100%;
        max-width: 676px;
        margin-left: -17px;
        position: relative;
        z-index: 1;
        @media (max-width: 991px) {
            margin-left: 0;
            max-width: 100%;
        }
    }
    &-header {
        height: 170px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        @media (max-width: 1199px) {
            height: 130px;
        }
        @media (max-width: 991px) {
            justify-content: space-between;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
            height: 95px;
        }
        @media (max-width: 479px) {
            height: 80px;
        }
        &-img {
            height: 100%;
            flex-shrink: 0;
            @media (max-width: 1399px) {
                margin-right: 40px;
            }
            @media (max-width: 767px) {
                margin-right: 10px;
            }
            @media (max-width: 479px) {
                margin-right: 0;
            }
            img {
                height: 100%;
            }
        }
        .popup-title {
            display: none;
            @media (max-width: 991px) {
                display: block;
                font-size: 2rem;
                line-height: 2rem;
                max-width: 230px;
                margin-left: 40px;
            }
            @media (max-width: 767px) {
                margin-top: 25px;
                width: 100%;
                max-width: 100%;
                order: 2;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .popup-logo {
            display: none;
            @media (max-width: 991px) {
                display: block;
                height: 100%;
                margin-top: 5px;
                img {
                    height: 100%;
                    width: auto;
                }
            }
            @media (max-width: 767px) {
                margin-left: 40px;
            }
            @media (max-width: 479px) {
                margin-left: 0;
            }
        }
    }
    &-text {
        &-wrap {
            margin-top: -18px;
            @media (max-width: 991px) {
                margin-top: 0;
            }
            @media (max-width: 767px) {
                margin-top: 85px;
            }
            @media (max-width: 479px) {
                margin-top: 90px;
            }
        }
        &-topic {
            color: #f6a400;
            margin-left: 111px;
            font-size: 0;
            display: flex;
            margin-bottom: 29px;
            @media (max-width: 479px) {
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                margin-bottom: 20px;
            }
            span {
                display: block;
            }
            .topic-quotes {
                margin-top: -26px;
                margin-right: 11px;
                @media (max-width: 1399px) {
                    margin-top: -18px;
                }
                @media (max-width: 767px) {
                    margin-top: -10px;
                }
            }
            .topic-item {
                font-weight: 400;
                font-size: 2.3rem;
                line-height: 2.3rem;
                font-family: $pnecbi;
                font-weight: bold;
                letter-spacing: 0.2px;
                @media (max-width: 1199px) {
                    font-size: 2.1rem;
                    line-height: 2.1rem;
                }
                @media (max-width: 767px) {
                    font-size: 2rem;
                    line-height: 2rem;
                }
            }
        }
    }
    &-main-text {
        transform: skewX(-12deg);
        max-width: 610px;
        @media (max-width: 1399px) {
            max-width: 520px;
        }
        @media (max-width: 1199px) {
            transform: skewX(-8deg);
            max-width: 410px;
        }
        @media (max-width: 991px) {
            transform: skewX(-5deg);
            max-width: 360px;
            margin-left: 20px;
        }
        @media (max-width: 767px) {
            max-width: 100%;
            transform: skewX(-3deg);
        }
        @media (max-width: 479px) {
            transform: none;
            margin-left: 0;
        }
        .main-text-item {
            margin-bottom: 18px;
            font-family: $pnecr;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.8rem;
            color: #000000;
            @media (max-width: 1199px) {
                margin-bottom: 11px;
            }
            @media (max-width: 479px) {
                font-family: $pnecri;
            }
        }
    }
    &-quote {
        width: 100%;
        max-width: 485px;
        margin: 27px 0 0 45px;
        position: relative;
        @media (max-width: 1199px) {
            max-width: 365px;
            margin: 20px 0 0 19px;
        }
        @media (max-width: 991px) {
            max-width: 350px;
        }
        .quote-item {
            font-family: $pnecb;
            font-size: 2.4rem;
            line-height: 2.4rem;
            color: #1d1d1b;
            transform: skewX(-10deg);
            @media (max-width: 1399px) {
                font-size: 2.2rem;
                line-height: 2.2rem;
            }
            @media (max-width: 1199px) {
                font-size: 2.1rem;
                line-height: 2.1rem;
            }
            @media (max-width: 991px) {
                font-size: 1.9rem;
                line-height: 1.9rem;
                transform: skewX(-5deg);
            }
            @media (max-width: 767px) {
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
        }
        .topic-quotes {
            position: absolute;
            right: 18px;
            bottom: -8px;
            @media (max-width: 1399px) {
                bottom: -18px;
            }
            @media (max-width: 1199px) {
                bottom: -16px;
                right: 25px;
            }
        }
    }
    &-signature {
        width: 100%;
        max-width: 428px;
        display: flex;
        justify-content: space-between;
        margin: 50px 0 0 61px;
        @media (max-width: 1199px) {
            max-width: 400px;
            margin: 35px 0 0 30px;
        }
        @media (max-width: 991px) {
            margin: 40px auto 0 auto;
        }
        @media (max-width: 767px) {
            width: 340px;
        }
        @media (max-width: 479px) {
            width: auto;
        }
        .signature-item {
            color: #f6a400;
            font-size: 2.4rem;
            line-height: 2.4rem;
            font-weight: 400;
            font-family: $pnecr;
            @media (max-width: 1399px) {
                font-size: 2.2rem;
                line-height: 2.2rem;
            }
            @media (max-width: 1199px) {
                font-size: 2.1rem;
                line-height: 2.1rem;
            }
            @media (max-width: 991px) {
                font-size: 1.9rem;
                line-height: 1.9rem;
            }
            @media (max-width: 767px) {
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
            &-wrap {
                max-width: 229px;
                transform: skewX(-10deg);
            }
        }
        .leader-name {
            font-family: $pnecb;
        }
        .signature-image {
            margin-left: 10px;
            margin-top: 3px;
            img {
                @media (max-width: 1399px) {
                    width: 150px;
                }
                @media (max-width: 767px) {
                    width: 130px;
                }
            }
        }
    }
    &-footer {
        margin: 51px 0 20px 55px;
        max-width: 354px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1199px) {
            margin: 35px 0 20px 15px;
            max-width: 350px;
        }
        @media (max-width: 991px) {
            margin: 35px auto 40px auto;
        }
        @media (max-width: 767px) {
            max-width: 320px;
        }
    }
    &-timing {
        width: 250px;
        position: relative;
        @media (max-width: 767px) {
            width: 220px;
        }
        @media (max-width: 479px) {
            width: 155px;
        }
        .timing-line {
            display: block;
            width: 100%;
            height: 1px;
            background: #868686;
        }
        .timing-slider {
            position: absolute;
            background-color: #f6a400;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 7px;
            display: block;
            width: 0;
            // transition: all 29700ms ease-in-out;
            &.active {
                width: 100%;
            }
        }
    }
    &-close {
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: none;
        &:focus {
            outline: none;
        }
        img {
            margin-right: 6px;
        }
        span {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.86rem;
            font-family: $pnecli;
        }
    }
}

.topic-quotes {
    font-size: 120px;
    font-weight: 400;
    line-height: 28px;
    display: inline-block;
    font-family: $pnecbi;
    font-weight: bold;
    color: #f6a400;
    @media (max-width: 1399px) {
        font-size: 95px;
    }
    @media (max-width: 1199px) {
        font-size: 80px;
    }
    @media (max-width: 767px) {
        font-size: 65px;
    }
}