.sidebar {
    &-wrapper {
        width: 360px;
        height: 100vh;
        position: relative;
        border-right: 1px solid #8f8f8f;
        z-index: 2;
        transform: none;
        background-color: #fff;
        transform: skewX(-12deg);
        @media (max-width: 1399px) {
            width: 330px;
        }
        @media (max-width: 1199px) {
            width: 260px;
            transform: skewX(-8deg);
        }
        @media (max-width: 991px) {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            transform: none;
            height: 120px;
            display: flex;
            justify-content: space-between;
            border-right: none;
            border-bottom: 1px solid #8f8f8f;
            padding: 0 70px 20px 70px;
        }
        @media (max-width: 767px) {
            height: 100px;
            padding: 0 30px 20px 30px;
        }
        @media (max-width: 479px) {
            padding: 0 10px 10px 10px;
            height: 85px;
        }
        .sidebar-share-wrap {
            @media (max-width: 991px) {
                display: none;
            }
        }
        .sidebar-slider {
            display: block;
            width: 5px;
            height: 150px;
            background-color: #f6a400;
            position: absolute;
            right: -3px;
            top: 173px;
            transition: top .7s ease;
            @media (max-width: 1399px) {
                top: 163px;
            }
            @media (max-width: 1199px) {
                top: 153px;
                height: 120px;
            }
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    &-logo-wrap {
        display: none;
        @media (max-width: 991px) {
            flex-shrink: 0;
            display: block;
            height: 100%;
            order: 2;
            img {
                height: 100%;
            }
        }
    }
    &-title {
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #1d1d1d;
        font-family: $pnecli;
        font-weight: 400;
        max-width: 240px;
        @media (max-width: 1399px) {
            font-size: 2.2rem;
            line-height: 2.2rem;
        }
        @media (max-width: 1199px) {
            font-size: 2rem;
            line-height: 2rem;
        }
        @media (max-width: 991px) {
            font-size: 1.9rem;
            line-height: 1.9rem;
            max-width: 230px;
            text-align: center;
        }
        @media (max-width: 479px) {
            max-width: 130px;
        }
        &::first-letter {
            margin-left: 4px;
            @media (max-width: 767px) {
                margin-left: 0;
            }
        }
        b {
            font-weight: 700;
            font-family: $pnecbi;
        }
        &-wrap {
            padding: 51px 0 0 90px;
            transform: skewX(12deg);
            @media (max-width: 1199px) {
                transform: skewX(8deg);
                padding: 50px 0 0 40px;
            }
            @media (max-width: 991px) {
                transform: none;
                padding: 0 5px 0 5px;
                margin: 10px 0 0 0;
                text-align: center;
                height: 100%;
                align-items: center;
                display: flex;
                justify-content: center;
                order: 1;
            }
        }
    }
    &-image {
        &-wrap {
            // border: 1px solid blue;
            margin-top: 117px;
            text-align: right;
            transform: skewX(12deg);
            margin-right: 30px;
            flex-shrink: 0;
            @media (max-width: 1399px) {
                height: 195px;
            }
            @media (max-width: 1199px) {
                transform: skewX(8deg);
                margin-top: 100px;
                height: 170px;
                margin-right: 35px;
            }
            @media (max-width: 991px) {
                transform: none;
                text-align: center;
                margin: 0;
                height: 100%;
                padding-top: 10px;
                order: 0;
            }
            img {
                flex-shrink: 0;
                height: 100%;
            }
        }
    }
    &-share {
        &-wrap {
            // border: 1px solid red;
            margin-top: 82px;
            transform: skewX(12deg);
            margin-left: auto;
            width: 212px;
            @media (max-width: 1399px) {
                width: 170px;
                margin-top: 70px;
            }
            @media (max-width: 1199px) {
                transform: skewX(8deg);
            }
        }
        &-title {
            display: block;
            width: 100%;
            text-align: center;
            font-family: $pnecli;
            color: #000000;
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 2rem;
            margin-bottom: 23px;
        }
        &-item {
            // border: 1px solid blue;
            text-align: center;
            margin-bottom: 40px;
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
            .icon {
                color: #000000;
                transition: color .3s ease;
                &:hover {
                    @media (min-width: 768px) {
                        color: #faa41a;
                    }
                }
                &-vk {
                    font-size: 1.2rem;
                }
                &-fb {
                    font-size: 2rem;
                }
                &-ok {
                    font-size: 2rem;
                }
            }
        }
    }
}